@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  :root {
    --container-size: 1200px;
  }
}

@layer utilities {
  .slide-center {
    transform: translateX(
      calc(
        max(var(--container-size), 100vw) / 2 - calc(var(--container-size) / 2)
      )
    );
  }
}

.reveal-wrapper {
  height: 100vh;
  overflow: hidden;
}

.reveal-content {
  height: 200vh; /* Adjust height as needed */
  transform: translateY(100%);
  transition: transform 1s ease-out;
}

/* Add an 'active' class dynamically with JavaScript */
.reveal-content.active {
  transform: translateY(0);
}
